[submodule "themes/yue"]
	path = themes/yue
	url = https://github.com/CyrusYip/hugo-theme-yue
[submodule "themes/hugo-video"]
	path = themes/hugo-video
	url = https://github.com/martignoni/hugo-video.git
